.scroll-div::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.scroll-div::-webkit-scrollbar-track {
  background-color: #FFFFFF10;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.scroll-div::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #4DF986;
}